<% title "Book" %>

<p>
  <strong>Title:</strong>
  <%=h @book.title %>
</p>
<p>
  <strong>Author:</strong>
  <%=h @book.author %>
</p>

<p>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to "Destroy", @book, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", books_path %>
</p>
